body {
    background-color: #101b23;
    color: white;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 350px;
    height: 100%;
    margin: 0;
}

/*The bottom bar needs to be outside the padding because it is sticky and supposed to exceed the padding. Therefore the padding is on the content div instead of the body so it will applied to everything except the bottom bar*/
#content {
    margin: 25px;
    margin-bottom: 5px;
}

.filter-control h3 {
    font-size: 15px;
    padding: 0;
    margin: 0;
}

.filter-control p {
    margin: 0;
    margin-top: 0px;
    margin-top: 5px;
    color: #a4b1bf;
}

.filter-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    margin-bottom: 15px;
}

#bottom-bar {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;   
}

#color-bar img {
    width: 16px;
    padding-left: 4px;
    padding-right: 4px;
}

#color-bar {
    display: flex;
    align-items: center;
    padding: 2px;
    background-color: #cc5353;
}

.switch {
    --color-grey: #373744 !important;
}

.filter-list h3 {
    font-size: 15px;
}

#github {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
}

#all-filter-search {
    width: 100%;
    margin-bottom: 5px;
}

#all-filter-search {
    box-sizing: border-box;
    background-color: #373744;
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: white;
}

.filter {
    display: flex;
    margin-bottom: 5px;
    position: relative;
}

.filter input {
    background-color: #373744;
    padding: 5px;
    border: none;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: white;
    width: 100%;
    box-sizing: border-box;
}

#save-cancel {
    width: 100%;
    display: none;
    justify-content: space-evenly;
    background-color: #101b23;
}

#save-cancel button {
    width: 45%;
    margin: 10px;
    background-color: #4296f4;
    border: none;
    border-radius: 2px;
    color: white;
    padding: 7px;
    cursor: pointer;
}

#new-filter {
    user-select: none;
    -webkit-user-select: none;
    font-weight: 700;
    font-size: 25px;
    padding: 10px;
    cursor: pointer;
}

.delete span {
    padding-left: 4px;
    padding-right: 4px;
}

.delete {
    background-color: #373744;
}

.filter-control-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    padding: 3px;
    user-select: none;
    -webkit-user-select: none;
    background-color: #1f1f26;
    color: #7a7a7a;
    flex-grow: 1;
    font-size: 12px;
    padding: 8px;
}

.copy-toggle {
    border-radius: 0;
    position: relative;
}
.copy-toggle:after {
    content: '';
    height: 70%;
    width: 1px;
    position: absolute;
    right: 0;
    top: 4px; 
    background-color: #414143;
    border-radius: 10px;
}

.paste-toggle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.filter-control-icon.active {
    color: #6ab254;
}

.filter-control-icon img {
    height: 23px;
}

.filter-controls {
    display: flex;
}

.delete-button {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #1f1f26;
    padding: 2px;
    border-radius: 100%;
    border: 2px solid white;
    height: 8px;
    width: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.delete-button img {
    height: 6px;
}