body {
    background-color: #101b23;
    color: white;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 350px;
    height: 100%;
    margin: 0;
}

/*The bottom bar needs to be outside the padding because it is sticky and supposed to exceed the padding. Therefore the padding is on the content div instead of the body so it will applied to everything except the bottom bar*/
#content {
    margin: 25px;
    margin-bottom: 5px;
}

.filter-control h3 {
    font-size: 15px;
    padding: 0;
    margin: 0;
}

.filter-control p {
    margin: 0;
    margin-top: 0px;
    margin-top: 5px;
    color: #a4b1bf;
}

.filter-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    margin-bottom: 15px;
}

#bottom-bar {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;   
}

#color-bar img {
    width: 16px;
    padding-left: 4px;
    padding-right: 4px;
}

#color-bar {
    display: flex;
    align-items: center;
    padding: 2px;
    background-color: #cc5353;
}

.switch {
    --color-grey: #373744 !important;
}

.filter-list h3 {
    font-size: 15px;
}

#github {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
}

#all-filter-search {
    width: 100%;
    margin-bottom: 5px;
}

#all-filter-search {
    box-sizing: border-box;
    background-color: #373744;
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: white;
}

.filter {
    display: flex;
}

.filter input {
    background-color: #373744;
    padding: 5px;
    border: none;
    border-radius: 10px;
    margin-bottom: 5px;
    color: white;
    width: 100%;
}

#save-cancel {
    width: 100%;
    display: none;
    justify-content: space-evenly;
    background-color: #101b23;
}

#save-cancel button {
    width: 45%;
    margin: 10px;
    background-color: #4296f4;
    border: none;
    border-radius: 2px;
    color: white;
    padding: 7px;
    cursor: pointer;
}

#new-filter {
    user-select: none;
    -webkit-user-select: none;
    font-weight: 700;
    font-size: 25px;
    padding: 10px;
    cursor: pointer;
}

.delete img {
    filter: invert(10%) sepia(87%) saturate(5745%) hue-rotate(2deg) brightness(118%) contrast(118%);
}

.delete {
    background-color: #373744;
}

.filter-control-icon {
    margin-left: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 32px;
    aspect-ratio: 1/1;
}

.copy-toggle, .paste-toggle {
    background-color: #de4e4e
}

.copy-toggle.active, .paste-toggle-active {
    background-color: #53a362;
}

.filter-control-icon img {
    height: 23px;
}